.comment {
    margin-bottom: 45px;
}

.author-name>h4 {
    margin: 5px 0px;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaaa;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: lighter;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.comments-title {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.form-div-spacing {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.post-time {
    font-style: italic;
}

.feed-centre {
    margin-left: 200px;
}

.post-content {
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.glys {
    height: 20px;
    width: 20px;
}

.post-create {
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 20px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.avatarstyle {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin-right: 25px;
}

.avatarnav {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.post-upic {
    margin-right: 40px;
}

.textareacont {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
    /* I've used padding so you can see the edges of the elements. */
    padding: 2px;
}

.txtarea {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;
}

.txtarea:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}


/* .submit_btn {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 2px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
} */

.submit_btn {
    background: transparent;
}

#myFileInput {
    display: none;
}

.titles {
    font-family: 'Noto Sans', sans-serif;
}

.bodyfont {
    font-family: 'Playfair Display', serif;
}

.commentcountcolor {}

#zmmtg-root {
    background-color: transparent!important;
}