.comment {
    margin-bottom: 45px;
}

.author-name>h4 {
    margin: 5px 0px;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaaa;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: lighter;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.comments-title {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.form-div-spacing {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.post-time {
    font-style: italic;
}

.feed-centre {
    margin-left: 200px;
}

.post-content {
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.glys {
    height: 20px;
    width: 20px;
}

.post-create {
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 20px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.avatarstyle {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin-right: 25px;
}

.avatarnav {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.post-upic {
    margin-right: 40px;
}

.textareacont {
    position: relative;
    border: 1px solid black;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0;
}

.txtarea {
    margin: 0;
    border-color: rgb a(255, 255, 255, 0);
    padding: 10px;
    min-width: 150px;
    min-height: 50px;
    margin-bottom: 40px;
}

.submit_btn {
    position: absolute;
    bottom: 8px;
    right: 15px;
    background-color: #2f3745;
    padding: 4px;
    color: wheat;
    cursor: pointer;
}